player-connection-mode=Listen
player-connection-guid=2518795059
player-connection-debug=0
player-connection-project-name=Multiplayer_Test
player-connection-ip=192.168.1.38
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=2736005a89f14d639a5bd7142abf989c
